{% load static %}
<html>

<head>
    <link href="{% static 'solarpv/css/DefinedByMe.css' %}" rel="stylesheet">
    <link href="{% static 'solarpv/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'solarpv/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'solarpv/css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'solarpv/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'solarpv/css/home.css' %}" rel="stylesheet">
</head>
<body>


<header class="navbar navbar-static-top navbar-default">
    <div class="container header" align="center">
        <div class="logo" align="center">
            <a href=index"></a>
            <img style="height: 140px;" src="{% static 'solarpv/img/logos/logo_circle_normalfont.svg' %}" alt="SolarPV Research & Development" hspace="0">
        </div>
        <div class="menu" style="">
            <ul class="nav navbar-nav navbar-right" style="display: inline-block;float: none;">

                <li><a href="index">Home</a></li>

                <li><a href="#">Racks & Trackers</a></li>
                <li class="dropdown"><a href="#">PV Module<i class="caret"></i></a>
    		<div class="dropdown-content">
    		<a href="#">Testing & Certification</a>
    		<a href="#">RV Rating</a>
    		</div>
    	    </li>

                <li class="dropdown"><a href="#">PV Systems<i class="caret"></i></a>
    		<div class="dropdown-content">
    		<a href="#">PV System Performance</a>
    		<a href="#">Monitoring & Inspection</a>
    		<a href="#">Performance Analysis</a>
    		<a href="#">Compare System</a>
    		<a href="#">Certification</a>
    		</div>
    	    </li>

                <li class="dropdown"><a href="#">Data Analytics<i class="caret"></i></a>
    		<div class="dropdown-content">
    		<a href="#">Module lifetime prediction</a>
    		<a href="#">Energy Prediction</a>
    		</div>
    	    </li>

                <li class="dropdown"><a href="#">Cybersecurity<i class="caret"></i></a>
    		<div class="dropdown-content">
    		<a href="#">Cybersecurity monitor</a>
    		<a href="#">Energy Prediction</a>
    		</div>
    	    </li>

                <li><a href="#">Contact Us</a></li>

            </ul>

        </div>
    </div>
</header>

<form style="border:1px solid #ccc" method="post" action="login">
	{% csrf_token %}
  <div class="container" >
    <h1>Login</h1>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter username" id="username" name="username">

    <!--label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password"  id="psw" required-->
    <div class="clearfix">

      <button type="button" class="cancelbtn" onclick="location.href='index'">Cancel</button>
      <button type="submit" class="loginbtn" >Login</button>
    </div>
  </div>
</form>

<script>
	var login_state = {{ login_state}};
	if (login_state=='-1'){
		alert('cannot find the username');
	}
</script>
</body>
</html>

