{% load static %}
<html>

<head>
    <link href="{% static 'solarpv/css/DefinedByMe.css' %}" rel="stylesheet">
    <link href="{% static 'solarpv/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'solarpv/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'solarpv/css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'solarpv/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'solarpv/css/home.css' %}" rel="stylesheet">
</head>
<body>


<header class="navbar navbar-static-top navbar-default">
    <div class="container header" align="center">
        <div class="logo" align="center">
            <a href="index"></a>
            <img style="height: 140px;" src="{% static 'solarpv/img/logos/logo_circle_normalfont.svg' %}" alt="SolarPV Research & Development" hspace="0">
        </div>
        <div class="menu" style="">
            <ul class="nav navbar-nav navbar-right" style="display: inline-block;float: none;">

                <li><a href="index">Home</a></li>

                <li><a href="#">Racks & Trackers</a></li>
                <li class="dropdown"><a href="#">PV Module<i class="caret"></i></a>
    		<div class="dropdown-content">
    		<a href="#">Testing & Certification</a>
    		<a href="#">RV Rating</a>
    		</div>
    	    </li>

                <li class="dropdown"><a href="#">PV Systems<i class="caret"></i></a>
    		<div class="dropdown-content">
    		<a href="#">PV System Performance</a>
    		<a href="#">Monitoring & Inspection</a>
    		<a href="#">Performance Analysis</a>
    		<a href="#">Compare System</a>
    		<a href="#">Certification</a>
    		</div>
    	    </li>

                <li class="dropdown"><a href="#">Data Analytics<i class="caret"></i></a>
    		<div class="dropdown-content">
    		<a href="#">Module lifetime prediction</a>
    		<a href="#">Energy Prediction</a>
    		</div>
    	    </li>

                <li class="dropdown"><a href="#">Cybersecurity<i class="caret"></i></a>
    		<div class="dropdown-content">
    		<a href="#">Cybersecurity monitor</a>
    		<a href="#">Energy Prediction</a>
    		</div>
    	    </li>

                <li><a href="#">Contact Us</a></li>

            </ul>

        </div>
    </div>
</header>

<form style="border:1px solid #ccc" method="post" action="register">
	{% csrf_token %}
  <div class="container" >
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter username (at most 20 characters)" id="username" name="username" maxlength="20" required>

    <label for="client"><b>Client</b></label><br><br>
	<select name="client" id="client">
    		{% for client in clients %}
		<option value="{{ client.client_id}}">{{client.client_name}} ({{client.client_code}})</option>
    		{% endfor %}
	</select><br><br>


    <!--label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password (at most 8 characters long comprising at least a digit, a lowercase letter, and an uppercase letter)"  id="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*"  onchange="this.setCustomValidity(this.validity.patternMismatch ? 'comprising at least a digit, a lowercase letter, and an uppercase letter': ''); if(this.checkValidity()) form.psw2.pattern = RegExp.escape(this.value);" required>


    <label for="psw"><b>Repeat Password</b></label>
    <input type="password" placeholder="Please enter the same Password as above" id="psw2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*" onchange="this.setCustomValidity(this.validity.patternMismatch ? this.placeholder : ''); " required-->

    <label for="firstname"><b>First Name</b></label>
    <input type="text" placeholder="Enter firstname" id="firstname" name="firstname" required>

    <label for="middlename"><b>Middle Name</b></label>
    <input type="text" placeholder="Enter Middlename" id="middlename" name="middlename">

    <label for="lastname"><b>Last Name</b></label>
    <input type="text" placeholder="Enter lastname" id="lastname" name="lastname" required>

    <label for="jobtitle"><b>Job Title</b></label>
    <input type="text" placeholder="Enter job title" id="jobtitle" name="jobtitle">

    <label for="prefix"><b>Prefix</b></label><br><br> 
    <input list="prefix1" name="prefix" id="prefix" required>
	  <datalist id="prefix1">
	    <option value="Dr.">
	    <option value="Mr.">
	    <option value="Mrs.">
	    <option value="Ms.">
	  </datalist><br><br>

    <label for="staff"><b>Is Staff</b></label><br><br> 
    <input list="staff1" name="staff" id="staff" required>
	  <datalist id="staff1">
	    <option value="Y">
	    <option value="N">
	  </datalist><br><br>

    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter email" id="email" name="email">

    <label for="cellphone"><b>Cell Phone Number</b></label>
    <input type="text" placeholder="Enter cell phone number" id="cellphone" name="cellphone">

    <label for="officephone"><b>Office Phone Number</b></label>
    <input type="text" placeholder="Enter office phone number" id="officephone" name="officephone">

    
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">

      <button type="button" class="cancelbtn" onclick="location.href='index'">Cancel</button>
      <button type="submit" class="signupbtn" >Sign Up</button>
    </div>
  </div>
</form>


<script src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript">

  // polyfill for RegExp.escape
  if(!RegExp.escape) {
    RegExp.escape = function(s) {
      return String(s).replace(/[\\^$*+?.()|[\]{}]/g, '\\$&');
    };
  }

</script>

<script>
	function storeIntoCookies() {
	   var username = document.getElementById('username').value;
	   var password = document.getElementById('psw').value;
	   var expires = "";
	   days = 30
	   var date = new Date();
	   date.setTime(date.getTime() + (days*24*60*60*1000));
	   expires = "; expires=" + date.toUTCString();
	   document.cookie = username + "=" + (password || "")  + expires + "; path=/";
	   alert("You successfully registered. Please go login now");
	}
</script>

<script>
	const username = document.getElementById("username");
	var usernames = {{ usernames|safe }};
	
	username.addEventListener("input", function (event) {
	  var input_username = username.value;
	  if (usernames.includes(input_username)) {
	    username.setCustomValidity("username is already used");
	  } else {
	    username.setCustomValidity("");
	  }
	});
</script>
</body>
</html>

